<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{title}}
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Role</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i=index">
                <td>{{i+1}}</td>
                <td *ngIf="user.id!=choixuser.id">{{user.username}}</td>
                <td *ngIf="user.id!=choixuser.id">{{user.email}}</td>
                <td *ngIf="user.id!=choixuser.id">{{user.role.nom}}</td>
                <td *ngIf="user.id!=choixuser.id">{{user.createdAt}}</td>
                <td *ngIf="user.id!=choixuser.id&&user.id!=u.id" class="text-right">
                  <button class="btn btn-primary" (click)="edit(user)" title="Modifier"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger" (click)="delete(user)" title="Supprimer"><i class="fa fa-remove"></i>
                  </button>
                  <button class="btn mb1 black bg-yellow" (click)="reinit(user)" title="Reinitialiser"><i class="fa fa-key"></i>
                  </button>
                </td>
                <td *ngIf="user.id==u.id" class="text-right">
                    <button class="btn btn-danger" (click)="delete(user)" title="Supprimer">oui</button>
                      <button class="btn btn-default" (click)="reset()" title="Modifier">non</button>
                </td>
                <td *ngIf="user.id==choixuser.id">
                  <input type="text" name="username" id="username" class="form-control" [(ngModel)]="user.username"
                  #username="ngModel">
                </td>
                <td *ngIf="user.id==choixuser.id">
                  <input type="email" name="email" id="email" class="form-control" [(ngModel)]="user.email"
                  #email="ngModel">
                </td>
                <td *ngIf="user.id==choixuser.id&&user.role.nom!='admin'">
                  <select name="profil" id="profil" class="form-control" required name="role" [(ngModel)]="user.role.nom"
                    #role="ngModel">
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                  </select>
                </td>
                <td *ngIf="user.id==choixuser.id&&user.role.nom!='admin'" colspan="2" class="text-right">
                    <button class="btn btn-success" (click)="update(user)" title="valider"><i class="fa fa-check"></i></button>
                    <button class="btn btn-default" (click)="reset()" title="quitter"><i class="fa fa-close"></i></button>
                </td>
                <td *ngIf="user.id==choixuser.id&&user.role.nom=='admin'" colspan="3" class="text-right">
                    <button class="btn btn-success" (click)="update(user)" title="valider"><i class="fa fa-check"></i></button>
                    <button class="btn btn-default" (click)="reset()" title="quitter"><i class="fa fa-close"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link">Prev</a></li>
              <li class="page-item active">
                <a class="page-link">1</a>
              </li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
          </nav>
          <button class="btn btn-success" [routerLink]="['/users/add']"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>