<div class="animated fadeIn">
  <div class="row">
    <div *ngIf="message">{{message}}</div>
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h1><i class="fa fa-align-justify"></i> {{title}}</h1>
          <p class="text-muted">Role temporaire</p>
        </div>
        <div class="card-body">
          <div class="card-body p-4">
            <form #userForm="ngForm" (ngSubmit)="update(userForm)" novalidate>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <select name="index" id="index" class="form-control" required name="index" [(ngModel)]="choixuser.id"
                  #role="ngModel" (click)="faitchoix(userForm)">
                  <option *ngFor="let user of users;let i=index" [value]="user.id">{{user.username+' ['+user.email+']
                    '}}</option>
                </select>
              </div>
              <div class="input-group mb-3" *ngIf="choixuser.id!=null&&choixuser.id!=''">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <label class="form-control">{{choixuser.username}}</label>
              </div>
              <div class="input-group mb-3" *ngIf="choixuser.id!=null&&choixuser.id!=''">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <label class="form-control">{{choixuser.email}}</label>
              </div>
              <div class="input-group mb-3" *ngIf="choixuser.id!=null&&choixuser.id!=''&&choixuser.role!=null">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-people"></i></span>
                </div>
                <label class="form-control">{{choixuser.role.nom}}</label>
              </div>
              <div class="input-group mb-3 row" *ngIf="choixuser.id!=null&&choixuser.id!=''">
                <div class="input-group-prepend">
                  <span class="input-group-text">Role</span>
                </div>
                <div>
                  <select #box id="select1" name="select1" class="form-control">
                    <option value="0">Choisir un role</option>
                    <option value="Admin">Admin</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Student">Student</option>
                  </select>
                  <input #debut type="date" name="debut" id="debut">
                  <input #fin type="date" name="fin" id="fin">
                </div>
                <button type="button" (click)="addRole(box.value,debut.value,fin.value)">valider</button>
              </div>
              <div class="input-group mb-3 row" *ngIf="choixuser.id!=null&&choixuser.id!=''">
                <div *ngFor="let role of saveRoleTemp" style="border:double">
                  <button (click)="removeRole(role)"><i class="fa fa-close"></i></button><label>{{role.nom}} du
                    {{role.debut}} au {{role.fin}}</label>
                </div>
              </div>
              <button class="btn btn-block btn-success">Valider les droits</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>